{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">聊天记录：</label>
						<div class="col-sm-9">
							<textarea id="msgs" name="msgs"  class="form-control" placeholder="请输入聊天记录"></textarea>
							<span class="help-block m-b-none">聊天记录</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">聊天截图：</label>
						<div class="col-sm-6">
							<div class="screenshots pic_list">
								<li id="screenshots_upload"></li>
							</div>
							<div style="clear:both"></div>
							<span class="help-block m-b-none screenshots_process"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">投诉人id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="tousu_uid" value="" name="tousu_uid" class="form-control" placeholder="请输入投诉人id">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">投诉类型：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['type'])){ $info['type'] = '1'; }; ?>
							<input name="type" value="1" type="radio" {if condition="$info.type eq '1'"}checked{/if} title="投诉个人">
							<input name="type" value="2" type="radio" {if condition="$info.type eq '2'"}checked{/if} title="投诉群">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">投诉描述：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="description" value="" name="description" class="form-control" placeholder="请输入投诉描述">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">投诉对象id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="tousu_type_id" value="" name="tousu_type_id" class="form-control" placeholder="请输入投诉对象id">
							<span class="help-block m-b-none">投诉对象id群id或者用户id</span>
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery-migrate-1.1.1.js'></script>
<script src='__PUBLIC__/static/js/plugins/paixu/jquery.dragsort-0.5.1.min.js'></script>
<script>
$(function(){
	$(".filelist").dragsort({dragSelector: "img",dragBetween: true ,dragEnd:function(){}});
});
layui.use(['form'],function(){});
uploader('screenshots_upload','screenshots','image',true,'{$info.screenshots}','{:url("admin/Upload/uploadImages")}');
setUploadButton('screenshots_upload');
laydate.render({elem: '#addtime',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('msgs').set('tousu_uid').set('addtime').set('description').set('tousu_type_id');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var screenshots = {};
	 $(".screenshots li").each(function() {
		if($(this).find('img').attr('src')){
	 		screenshots[$(this).index()] = {'url':$(this).find('img').attr('src'),'title':$(this).find('input').val()};
		}
	 });
	 var type = $("input[name = 'type']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/MemberTousu/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('screenshots',(JSON.stringify(screenshots) == '{}' || JSON.stringify(screenshots) == '{"":""}') ? '' : JSON.stringify(screenshots));
	 ajax.set('type',type);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
