<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Dashboard - daisySMS</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/_main.css?v=f90b0b14e89c3f9d28d64d85d8b45148">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/_notie.min.css">


    <script src="__PUBLIC__/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/bootstrapValidator.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/zh_CN.js"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__PUBLIC__/static/js/common/ajax-object.js?v=<?php echo rand(1000,9999)?>"></script>
    <script src="__PUBLIC__/static/js/common/bootstrap-table-object.js"></script>
    <script src="__PUBLIC__/static/js/common/Feng.js"></script>
    <script src="__PUBLIC__/static/js/plugins/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="__PUBLIC__/static/js/xheditor/xheditor-1.2.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/xheditor/xheditor_lang/zh-cn.js"></script>

    <style>.notie-container {z-index: 20;}</style>

    <style>
        .phone::before {
            content: "+1 ";
            user-select: none;
            opacity: 0.5;
        }
        td[data-field="name"] {
            max-width: 300px; /* 设置最大宽度 */
            word-wrap: break-word; /* 启用自动换行 */
            white-space: normal; /* 确保换行生效 */
        }
    </style>

</head>
<body data-theme="light">

<!--左侧导航开始-->
{include file="common/__top"}
<!--左侧导航结束-->

<div class="py-8"></div>

<div class="flex flex-col lg:flex-row h-full">

    <!--左侧导航开始-->
    {include file="common/__left"}
    <!--左侧导航结束-->

    <div class="hero bg-base-200">
        <div class="hero-content flex-col items-start">
            <div class="card flex-shrink-0 w-120 border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title mb-2">Referral Program</h2>

                    <div class="input-group my-4">
                        <label class="input-group">
                            <span>Your referral link</span>
                            <input type="text" class="input input-bordered w-80 !cursor-text" value="" disabled="">
                        </label>
                    </div>

                    <div class="text-stone-500">
                        <p class="my-2">Promote our service by sharing your personal unique link above.</p>
                        <p class="my-2">
                            You get 5% of the prices paid by the people you've referred.
                        </p>
                        <p class="my-2">Commissions are calculated the moment the referred user receives the SMS.</p>
                        <p class="my-2">The maximum amount is limited to $1000 per referred user.</p>
                        <p class="my-2">This page displays the last 40 days.</p>

                        <p class="font-bold my-2">
                            Make sure you read and understand our
                            <a class="link" href="/docs/terms" target="_blank">Terms and Conditions</a>
                        </p>

                        <p class="font-bold my-2">
                            In particular, using your own referral link to create a new account<br>
                            will get you banned from the Referral Program.
                        </p>
                    </div>

                    <h2 class="card-title mt-2">Earnings</h2>

                    <div class="form-control mt-2">
                        <label class="input-group">
                            <span>Referred users</span>
                            <input type="text" class="input input-bordered !cursor-text w-16" value="0" disabled="">
                        </label>

                        <table class="table table-zebra w-full mt-4">
                            <!-- head -->
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Earnings</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4">No earnings yet</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="unlisted_notice">
        <div class="text-left inline-block">
            <div>Unlisted service will reserve the number for you.</div>
            <div>As soon as a new SMS comes, we'll give you the entire text.</div>
            <div>This will not work for listed services.</div>
            <div>We don't work with any banking or dating services.</div>

            <label class="cursor-pointer flex items-center text-sm mt-4">
                <input id="unlisted_notice_no_show" type="checkbox" class="checkbox mr-2" />
                <span>Don't show this message again</span>
            </label>
        </div>
    </template>

    <template id="first_use_notice">
        <div class="text-left inline-block">
            <div class="my-6">
                We recommend reading
                <a href="/docs/howto" class="link" target="_blank">this short guide</a>
                on how to successfully use this service.
            </div>

            <div class="my-6">Main takeaway: avoid using free VPN apps.</div>

            <label class="cursor-pointer flex items-center text-sm mt-4">
                <input id="first_use_notice_no_show" type="checkbox" class="checkbox mr-2" />
                <span>Don't show this message again</span>
            </label>
        </div>
    </template>

    <template id="cancel_notice">
        <p>Do you want to cancel this rental? Your balance will be unlocked.</p>
    </template>

    <div class="modal" id="carrier-info">
        <div class="modal-box w-1/2">
            <h3 class="font-bold text-lg">Why choose carrier</h3>
            <p class="py-4">There are 3 carriers in the USA: T-Mobile (tmo), Verizon (vz), and AT&T (att). </p>
            <p>If you're experiencing issues on services like Tinder, where it says an account already exists, we recommend you try Verizon, or AT&T.</p>
            <div class="modal-action">
                <a href="#" class="btn">OK</a>
            </div>
        </div>
    </div>
</div>

<!--左侧导航开始-->
{include file="common/__footer"}
<!--左侧导航结束-->

<script src="https://unpkg.com/notie@4.3.1/dist/notie.min.js"></script>


</body>