{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="member_id" placeholder="会员ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员手机</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="mobile" placeholder="会员手机" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">交易状态</button>
									</div>
									<select class="form-control" id="status">
										<option value="">请选择</option>
										<option value="1">等待处理</option>
										<option value="2">提现成功</option>
										<option value="3">提现失败</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">账号|交易地址</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="account" placeholder="账号|交易地址" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">交易IP</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="ip" placeholder="交易IP" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">交易说明</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="des" placeholder="交易说明" />
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">交易时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="dateline">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">提现订单号</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="trade_no" placeholder="提现订单号" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">处理状态</button>
									</div>
									<select class="form-control" id="dostatus">
										<option value="">请选择</option>
										<option value="1">处理中</option>
										<option value="2">已完成</option>
										<option value="3">交易失败</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">提现方式</button>
									</div>
									<select class="form-control" id="paytype">
										<option value="">请选择</option>
										<option value="1">币安转账</option>
										<option value="2">OKX转账</option>
										<option value="3">钱包充提</option>
									</select>
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
								<button type="button" class="btn" onclick="CodeGoods.reset()" id="">
									<i class="glyphicon glyphicon-share-alt"></i>&nbsp;重置
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('admin/Withdrawal/update',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="update" class="btn btn-success button-margin" onclick="CodeGoods.update()">
						<i class="fa fa-pencil"></i>&nbsp;处理提现
						</button>
						{/if}
						{if condition="in_array('admin/Withdrawal/view',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-plus"></i>&nbsp;查看详情
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'withdrawal_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '会员ID', field: 'member_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '会员手机', field: 'mobile', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '转账金额', field: 'transfer_money', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '交易状态', field: 'status', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.statusFormatter},
 			{title: '账号|交易地址', field: 'account', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '交易IP', field: 'ip', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '交易说明', field: 'des', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '交易时间', field: 'dateline', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.datelineFormatter},
 			{title: '更新时间', field: 'updateline', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.updatelineFormatter},
 			{title: '提现订单号', field: 'trade_no', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '处理状态', field: 'dostatus', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.dostatusFormatter},
 			{title: '提现方式', field: 'paytype', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.paytypeFormatter},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.withdrawal_id){
			var str= '';
			{if condition="in_array('admin/Withdrawal/update',session('admin.nodes')) || session('admin.role_id') eq 1"}
			str += '<button type="button" class="btn btn-success btn-xs" title="处理提现"  onclick="CodeGoods.update('+row.withdrawal_id+')"><i class="fa fa-pencil"></i>&nbsp;处理提现</button>&nbsp;';
			{/if}
			return str;
		}
	}

	CodeGoods.statusFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">等待处理</span>';
				break;
				case '2':
					return '<span class="label label-warning">提现成功</span>';
				break;
				case '3':
					return '<span class="label label-warning">提现失败</span>';
				break;
			}
		}
	}

	CodeGoods.datelineFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.updatelineFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.dostatusFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">处理中</span>';
				break;
				case '2':
					return '<span class="label label-warning">已完成</span>';
				break;
				case '3':
					return '<span class="label label-danger">交易失败</span>';
				break;
			}
		}
	}

	CodeGoods.paytypeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">币安转账</span>';
				break;
				case '2':
					return '<span class="label label-warning">OKX转账</span>';
				break;
				case '3':
					return '<span class="label label-success">钱包充提</span>';
				break;
			}
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['member_id'] = $("#member_id").val();
		queryData['mobile'] = $("#mobile").val();
		queryData['status'] = $("#status").val();
		queryData['account'] = $("#account").val();
		queryData['ip'] = $("#ip").val();
		queryData['des'] = $("#des").val();
		queryData['dateline_start'] = $("#dateline").val().split(" - ")[0];
		queryData['dateline_end'] = $("#dateline").val().split(" - ")[1];
		queryData['updateline'] = $("#updateline").val();
		queryData['trade_no'] = $("#trade_no").val();
		queryData['dostatus'] = $("#dostatus").val();
		queryData['paytype'] = $("#paytype").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.update = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '修改',area: ['800px', '450px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Withdrawal/update?withdrawal_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.withdrawal_id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '修改',area: ['800px', '450px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Withdrawal/update?withdrawal_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Withdrawal/view?withdrawal_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.withdrawal_id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Withdrawal/view?withdrawal_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	CodeGoods.reset = function() {
		$("#searchGroup input,select").val('');
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Withdrawal/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#dateline',type: 'datetime',range:true});
</script>
{/block}