{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">接受者id</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="uto" placeholder="接受者id" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">接受者名称</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="toname" placeholder="接受者名称" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">客服id</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="ufrom" placeholder="客服id" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">客服名称</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="fromname" placeholder="客服名称" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">内容</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="content" placeholder="内容" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">类型</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="type" placeholder="类型" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">类型2</button>
									</div>
									<select class="form-control" id="sub_type">
										<option value="">请选择</option>
										<option value="message">消息</option>
										<option value="notice">通知</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">添加时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="timestamp">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">消息类型</button>
									</div>
									<select class="form-control" id="message_type">
										<option value="">请选择</option>
										<option value="1">文本</option>
										<option value="2">图片</option>
										<option value="3">表情</option>
										<option value="4">语音</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">options</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="options" placeholder="options" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">isread</button>
									</div>
									<select class="form-control" id="isread">
										<option value="">请选择</option>
										<option value="1">已读</option>
										<option value="0">未读</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">专属客服编号</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="customerid" placeholder="专属客服编号" />
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-1">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('admin/Message/add',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="add" class="btn btn-primary button-margin" onclick="CodeGoods.add()">
						<i class="fa fa-plus"></i>&nbsp;添加
						</button>
						{/if}
						{if condition="in_array('admin/Message/update',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="update" class="btn btn-success button-margin" onclick="CodeGoods.update()">
						<i class="fa fa-pencil"></i>&nbsp;修改
						</button>
						{/if}
						{if condition="in_array('admin/Message/delete',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="delete" class="btn btn-danger button-margin" onclick="CodeGoods.delete()">
						<i class="fa fa-trash"></i>&nbsp;删除
						</button>
						{/if}
						{if condition="in_array('admin/Message/view',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-plus"></i>&nbsp;查看详情
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'mid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '接受者id', field: 'uto', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '接受者名称', field: 'toname', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '客服id', field: 'ufrom', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '客服名称', field: 'fromname', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '内容', field: 'content', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '类型', field: 'type', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '类型2', field: 'sub_type', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.sub_typeFormatter},
 			{title: '添加时间', field: 'timestamp', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.timestampFormatter},
 			{title: '消息类型', field: 'message_type', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.message_typeFormatter},
 			{title: 'options', field: 'options', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: 'isread', field: 'isread', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.isreadFormatter},
 			{title: '专属客服编号', field: 'customerid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '专属客服', field: 'customername', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.mid){
			var str= '';
			{if condition="in_array('admin/Message/update',session('admin.nodes')) || session('admin.role_id') eq 1"}
			str += '<button type="button" class="btn btn-success btn-xs" title="修改"  onclick="CodeGoods.update('+row.mid+')"><i class="fa fa-pencil"></i>&nbsp;修改</button>&nbsp;';
			{/if}
			{if condition="in_array('admin/Message/delete',session('admin.nodes')) || session('admin.role_id') eq 1"}
			str += '<button type="button" class="btn btn-danger btn-xs" title="删除"  onclick="CodeGoods.delete('+row.mid+')"><i class="fa fa-trash"></i>&nbsp;删除</button>&nbsp;';
			{/if}
			return str;
		}
	}

	CodeGoods.sub_typeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case 'message':
					return '<span class="label label-primary">消息</span>';
				break;
				case 'notice':
					return '<span class="label label-info">通知</span>';
				break;
			}
		}
	}

	CodeGoods.timestampFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.message_typeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">文本</span>';
				break;
				case '2':
					return '<span class="label label-danger">图片</span>';
				break;
				case '3':
					return '<span class="label label-danger">表情</span>';
				break;
				case '4':
					return '<span class="label label-danger">语音</span>';
				break;
			}
		}
	}

	CodeGoods.isreadFormatter = function(value,row,index) {
		if(value !== null){
			if(value == 1){
				return '<input class="mui-switch mui-switch-animbg isread'+row.mid+'" type="checkbox" onclick="CodeGoods.updateisread('+row.mid+',0,\'isread\')" checked>';
			}else{
				return '<input class="mui-switch mui-switch-animbg isread'+row.mid+'" type="checkbox" onclick="CodeGoods.updateisread('+row.mid+',1,\'isread\')">';
			}
		}
	}


	CodeGoods.updateisread = function(pk,value,field) {
		var ajax = new $ax(Feng.ctxPath + "/Message/updateExt", function (data) {
			if ('00' !== data.status) {
				Feng.error(data.msg);
				$("."+field+pk).prop("checked",!$("."+field+pk).prop("checked"));
			}
		});
		var val = $("."+field+pk).prop("checked") ? 1 : 0;
		ajax.set('mid', pk);
		ajax.set('isread', val);
		ajax.start();
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['uto'] = $("#uto").val();
		queryData['toname'] = $("#toname").val();
		queryData['ufrom'] = $("#ufrom").val();
		queryData['fromname'] = $("#fromname").val();
		queryData['content'] = $("#content").val();
		queryData['type'] = $("#type").val();
		queryData['sub_type'] = $("#sub_type").val();
		queryData['timestamp_start'] = $("#timestamp").val().split(" - ")[0];
		queryData['timestamp_end'] = $("#timestamp").val().split(" - ")[1];
		queryData['message_type'] = $("#message_type").val();
		queryData['options'] = $("#options").val();
		queryData['isread'] = $("#isread").val();
		queryData['customerid'] = $("#customerid").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.add = function (value) {
		var url = location.search;
		var index = layer.open({type: 2,title: '添加',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Message/add'+url});
		this.layerIndex = index;
		if(!IsPC()){layer.full(index)}
	}


	CodeGoods.update = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Message/update?mid='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.mid;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Message/update?mid='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.delete = function (value) {
		if(value){
			Feng.confirm("是否删除选中项？", function () {
				var ajax = new $ax(Feng.ctxPath + "/Message/delete", function (data) {
					if ('00' === data.status) {
						Feng.success(data.msg);
						CodeGoods.table.refresh();
					} else {
						Feng.error(data.msg);
					}
				});
				ajax.set('mid', value);
				ajax.start();
			});
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.mid;
				});
				idx = idx.substr(1);
				Feng.confirm("是否删除选中项？", function () {
					var ajax = new $ax(Feng.ctxPath + "/Message/delete", function (data) {
						if ('00' === data.status) {
							Feng.success(data.msg,1000);
							CodeGoods.table.refresh();
						} else {
							Feng.error(data.msg,1000);
						}
					});
					ajax.set('mid', idx);
					ajax.start();
				});
			}
		}
	}


	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Message/view?mid='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.mid;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Message/view?mid='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Message/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#timestamp',type: 'datetime',range:true});
</script>
{/block}