<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Dashboard - daisySMS</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/_main.css?v=f90b0b14e89c3f9d28d64d85d8b45148">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/_notie.min.css">


    <script src="__PUBLIC__/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/bootstrapValidator.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/zh_CN.js"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__PUBLIC__/static/js/common/ajax-object.js?v=<?php echo rand(1000,9999)?>"></script>
    <script src="__PUBLIC__/static/js/common/bootstrap-table-object.js"></script>
    <script src="__PUBLIC__/static/js/common/Feng.js"></script>
    <script src="__PUBLIC__/static/js/plugins/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="__PUBLIC__/static/js/xheditor/xheditor-1.2.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/xheditor/xheditor_lang/zh-cn.js"></script>

    <style>.notie-container {z-index: 20;}</style>

    <style>
        .phone::before {
            content: "+1 ";
            user-select: none;
            opacity: 0.5;
        }
        td[data-field="name"] {
            max-width: 300px; /* 设置最大宽度 */
            word-wrap: break-word; /* 启用自动换行 */
            white-space: normal; /* 确保换行生效 */
        }
    </style>

</head>
<body data-theme="light">

<!--左侧导航开始-->
{include file="common/__top"}
<!--左侧导航结束-->

<div class="py-8"></div>

<div class="flex flex-col lg:flex-row h-full">

    <!--左侧导航开始-->
    {include file="common/__left"}
    <!--左侧导航结束-->

    <div class="hero bg-base-200">
        <div class="hero-content flex-col lg:flex-row items-start max-w-xl">
            <div class="card border bg-base-100">
                <div class="card-body gap-2">

                    <p>Email: {$user['email']}</p>
                    <p>
                        <label for="change-password" class="link">Change password</label>
                    </p>

                    <div class="divider my-2"></div>

                    <label class="input-group ">
                        <span>Name</span>
                        <input name="name" value="{$user['membername']}" type="text" class="input input-bordered w-full" required="">
                    </label>
                    <div class="divider my-2"></div>

                    <label class="input-group ">
                        <span>Email</span>
                        <input name="email" value="{$user['email']}" type="text" class="input input-bordered w-full" required="">
                    </label>
                    <div class="divider my-2"></div>

                    <label class="input-group ">
                        <span>Mobile</span>
                        <input name="mobile" value="{$user['mobile']}" type="text" class="input input-bordered w-full" required="">
                    </label>

                    <div class="divider my-2"></div>


                    <label class=" text-left label cursor-pointer px-0 justify-normal">
                        <span class="label-text text-base">New log-in IP confirmation</span>
                        <input type="checkbox" class="toggle ml-4" name="login_ip_verify" value="yes" checked="">
                    </label>

                    <p>
                        You will receive an email confirmation, when you log in from a new IP address.
                        <b>Having this option disabled means we don't help you if your account gets hacked.</b>
                    </p>

                    <div class="divider my-2"></div>

                    <button class="btn btn-success gap-2 mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                        Save
                    </button>
                    <button class="btn btn-notice gap-2 mt-4">
                        Change password
                    </button>
                    <button class="btn btn-error gap-2 mt-4 h8 h9">
                        Delete My Account
                    </button>
                </div>
            </div>
        </div>
    </div>

    <template id="unlisted_notice">
        <div class="text-left inline-block">
            <div>Unlisted service will reserve the number for you.</div>
            <div>As soon as a new SMS comes, we'll give you the entire text.</div>
            <div>This will not work for listed services.</div>
            <div>We don't work with any banking or dating services.</div>

            <label class="cursor-pointer flex items-center text-sm mt-4">
                <input id="unlisted_notice_no_show" type="checkbox" class="checkbox mr-2" />
                <span>Don't show this message again</span>
            </label>
        </div>
    </template>

    <template id="first_use_notice">
        <div class="text-left inline-block">
            <div class="my-6">
                We recommend reading
                <a href="/docs/howto" class="link" target="_blank">this short guide</a>
                on how to successfully use this service.
            </div>

            <div class="my-6">Main takeaway: avoid using free VPN apps.</div>

            <label class="cursor-pointer flex items-center text-sm mt-4">
                <input id="first_use_notice_no_show" type="checkbox" class="checkbox mr-2" />
                <span>Don't show this message again</span>
            </label>
        </div>
    </template>

    <template id="cancel_notice">
        <p>Do you want to cancel this rental? Your balance will be unlocked.</p>
    </template>

    <div class="modal" id="carrier-info">
        <div class="modal-box w-1/2">
            <h3 class="font-bold text-lg">Why choose carrier</h3>
            <p class="py-4">There are 3 carriers in the USA: T-Mobile (tmo), Verizon (vz), and AT&T (att). </p>
            <p>If you're experiencing issues on services like Tinder, where it says an account already exists, we recommend you try Verizon, or AT&T.</p>
            <div class="modal-action">
                <a href="#" class="btn">OK</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.tab').on('click', function() {
            // 移除所有标签的活动状态
            $('.tab').removeClass('tab-active');

            // 添加活动状态到当前标签
            $(this).addClass('tab-active');

            // 获取要显示的标签对应的内容
            const tabId = $(this).data('for');
            console.log(tabId)
            // 隐藏所有内容
            $('.border.card-body').addClass('hidden');

            // 显示对应的内容
            $(`div[data-tab="${tabId}"]`).removeClass('hidden');
        });
    });
</script>
<!--左侧导航开始-->
{include file="common/__footer"}
<!--左侧导航结束-->

<script src="https://unpkg.com/notie@4.3.1/dist/notie.min.js"></script>


</body>