{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='id' id='id' value="{$info.id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">订阅密码：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="dpwd" value="{$info.dpwd}" name="dpwd" class="form-control" placeholder="请输入订阅密码">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">价格：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="price" value="{$info.price}" name="price" class="form-control" placeholder="请输入价格">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">时长：</label>
						<div class="col-sm-9">
							<select lay-ignore name="buytime" class="form-control" id="buytime">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.buytime eq '1'"}selected{/if}>月卡</option>
								<option value="2" {if condition="$info.buytime eq '2'"}selected{/if}>季卡</option>
								<option value="3" {if condition="$info.buytime eq '3'"}selected{/if}>年卡</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">添加时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.adtime neq ''"}{$info.adtime|date='Y-m-d H:i:s'}{/if}" name="adtime"  placeholder="请输入添加时间" class="form-control" id="adtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">使用状态：</label>
						<div class="col-sm-9">
							<select lay-ignore name="status" class="form-control" id="status">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.status eq '1'"}selected{/if}>正常</option>
								<option value="2" {if condition="$info.status eq '2'"}selected{/if}>已使用</option>
								<option value="3" {if condition="$info.status eq '3'"}selected{/if}>已失效</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">使用者ID：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="memberid" value="{$info.memberid}" name="memberid" class="form-control" placeholder="请输入使用者ID">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">使用者手机号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入使用者手机号">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#adtime',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('dpwd').set('price').set('buytime').set('adtime').set('status').set('memberid').set('mobile');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Paycode/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
