{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">订阅密码：</td> 
					<td>{$info.dpwd}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">价格：</td> 
					<td>{$info.price}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">时长：</td> 
					<td><?php echo getFieldVal($info["buytime"],"月卡|1|success,季卡|2|warning,年卡|3|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">添加时间：</td> 
					<td>{if $info.adtime}{$info.adtime|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">使用状态：</td> 
					<td><?php echo getFieldVal($info["status"],"正常|1|success,已使用|2|warning,已失效|3|primary");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">使用者ID：</td> 
					<td>{$info.memberid}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">使用者手机号：</td> 
					<td>{$info.mobile}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
