{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">大神名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="title" value="" name="title" class="form-control" placeholder="请输入大神名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">大神别名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="nick" value="" name="nick" class="form-control" placeholder="请输入大神别名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">大神key：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="acceptsource" value="" name="acceptsource" class="form-control" placeholder="请输入大神key">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">对标金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="summoney" value="0" name="summoney" class="form-control" placeholder="请输入对标金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">实际金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="realsummoney" value="0" name="realsummoney" class="form-control" placeholder="请输入实际金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">默认参数：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="proportion" value="" name="proportion" class="form-control" placeholder="请输入默认参数">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">开启状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['isvalid'])){ $info['isvalid'] = 1; }; ?>
							<input name="isvalid" value="1" type="radio" {if condition="$info.isvalid eq '1'"}checked{/if} title="开启">
							<input name="isvalid" value="0" type="radio" {if condition="$info.isvalid eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">是否可选：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['isenable'])){ $info['isenable'] = 1; }; ?>
							<input name="isenable" value="1" type="radio" {if condition="$info.isenable eq '1'"}checked{/if} title="可选">
							<input name="isenable" value="0" type="radio" {if condition="$info.isenable eq '0'"}checked{/if} title="不可选">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">标记：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="remark" value="" name="remark" class="form-control" placeholder="请输入标记">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">头像：</label>
						<div class="col-sm-6">
							<input type="text" autocomplete="off" id="headurl" value="" {if condition="config('my.img_show_status') eq true"}onmousemove="showBigPic(this.value)" onmouseout="closeimg()"{/if} name="headurl" class="form-control" placeholder="请输入头像">
							<span class="help-block m-b-none headurl_process"></span>
						</div>
						<div class="col-sm-2" style="position:relative; right:30px;">
							<span id="headurl_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单标识：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="orderno" value="" name="orderno" class="form-control" placeholder="请输入订单标识">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">对应群ID：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="leadergroup" value="0" name="leadergroup" class="form-control" placeholder="请输入对应群ID">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">配置特殊说明：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="setdes" value="" name="setdes" class="form-control" placeholder="请输入配置特殊说明">
							<span class="help-block m-b-none">填写一些特殊大神的特殊配置说明</span>
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
uploader('headurl_upload','headurl','image',false,'','{:url("admin/Upload/uploadImages")}');
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('title').set('nick').set('acceptsource').set('summoney').set('realsummoney').set('proportion').set('remark').set('headurl').set('orderno').set('leadergroup').set('setdes');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var isvalid = $("input[name = 'isvalid']:checked").val();
	 var isenable = $("input[name = 'isenable']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Leader/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('isvalid',isvalid);
	 ajax.set('isenable',isenable);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
