{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">大神名：</td> 
					<td>{$info.title}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">大神别名：</td> 
					<td>{$info.nick}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">大神key：</td> 
					<td>{$info.acceptsource}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">对标金额：</td> 
					<td>{$info.summoney}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">实际金额：</td> 
					<td>{$info.realsummoney}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">默认参数：</td> 
					<td>{$info.proportion}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">开启状态：</td> 
					<td><?php echo getFieldVal($info["isvalid"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">是否可选：</td> 
					<td><?php echo getFieldVal($info["isenable"],"可选|1,不可选|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">标记：</td> 
					<td>{$info.remark}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">头像：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.headurl}')"><img height="75" src="{$info.headurl}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">订单标识：</td> 
					<td>{$info.orderno}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">对应群ID：</td> 
					<td>{$info.leadergroup}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">配置特殊说明：</td> 
					<td>{$info.setdes}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">实盘状态：</td> 
					<td><?php echo getFieldVal($info["isreport"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">大神分类ID：</td> 
					<td>{$info.catid}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
