{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='chargeorder_id' id='chargeorder_id' value="{$info.chargeorder_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">会员ID：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="member_id" value="{$info.member_id}" name="member_id" class="form-control" placeholder="请输入会员ID">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">会员手机号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入会员手机号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">充值金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="money" value="{$info.money}" name="money" class="form-control" placeholder="请输入充值金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="ordernumber" value="{$info.ordernumber}" name="ordernumber" class="form-control" placeholder="请输入订单号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">订单状态：</label>
						<div class="col-sm-9">
							<select lay-ignore name="status" class="form-control" id="status">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.status eq '1'"}selected{/if}>充值中</option>
								<option value="2" {if condition="$info.status eq '2'"}selected{/if}>充值成功</option>
								<option value="3" {if condition="$info.status eq '3'"}selected{/if}>充值失败</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">充值方式：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="payway" value="{$info.payway}" name="payway" class="form-control" placeholder="请输入充值方式">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">备注：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="des" value="{$info.des}" name="des" class="form-control" placeholder="请输入备注">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">充值时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.dateline neq ''"}{$info.dateline|date='Y-m-d H:i:s'}{/if}" name="dateline"  placeholder="请输入充值时间" class="form-control" id="dateline">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">处理状态：</label>
						<div class="col-sm-9">
							<select lay-ignore name="dostatus" class="form-control" id="dostatus">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.dostatus eq '1'"}selected{/if}>未结算</option>
								<option value="2" {if condition="$info.dostatus eq '2'"}selected{/if}>已结算</option>
								<option value="3" {if condition="$info.dostatus eq '3'"}selected{/if}>已失效</option>
								<option value="4" {if condition="$info.dostatus eq '4'"}selected{/if}>已分成</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易流水号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="tradeno" value="{$info.tradeno}" name="tradeno" class="form-control" placeholder="请输入交易流水号">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#dateline',type: 'datetime',trigger:'click'});
laydate.render({elem: '#updateline',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		tradeno: {
			validators: {
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('chargeorder_id').set('member_id').set('mobile').set('money').set('ordernumber').set('status').set('payway').set('des').set('dateline').set('updateline').set('dostatus').set('tradeno');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Chargeorder/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
