{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='id' id='id' value="{$info.id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">会员ID：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="userid" value="{$info.userid}" name="userid" class="form-control" placeholder="请输入会员ID">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">会员手机号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入会员手机号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">apiKey：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="apikey" value="{$info.apikey}" name="apikey" class="form-control" placeholder="请输入apiKey">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">secretKey：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="secretkey" value="{$info.secretkey}" name="secretkey" class="form-control" placeholder="请输入secretKey">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易所名称：</label>
						<div class="col-sm-9">
							<select lay-ignore name="tradename" class="form-control" id="tradename">
								<option value="">请选择</option>
								<option value="0" {if condition="$info.tradename eq '0'"}selected{/if}>binance</option>
								<option value="1" {if condition="$info.tradename eq '1'"}selected{/if}>Okex</option>
								<option value="3" {if condition="$info.tradename eq '3'"}selected{/if}>未设置</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">类型：</label>
						<div class="col-sm-9">
							<select lay-ignore name="type" class="form-control" id="type">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.type eq '1'"}selected{/if}>普通</option>
								<option value="2" {if condition="$info.type eq '2'"}selected{/if}>套保</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">备注：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="remark" value="{$info.remark}" name="remark" class="form-control" placeholder="请输入备注">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">有效时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.validtime neq ''"}{$info.validtime|date='Y-m-d H:i:s'}{/if}" name="validtime"  placeholder="请输入有效时间" class="form-control" id="validtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.createtime neq ''"}{$info.createtime|date='Y-m-d H:i:s'}{/if}" name="createtime"  placeholder="请输入创建时间" class="form-control" id="createtime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易所唯一编号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="tradenameid" value="{$info.tradenameid}" name="tradenameid" class="form-control" placeholder="请输入交易所唯一编号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">是否审核：</label>
						<div class="col-sm-9">
							<select lay-ignore name="isvalid" class="form-control" id="isvalid">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.isvalid eq '1'"}selected{/if}>审核</option>
								<option value="0" {if condition="$info.isvalid eq '0'"}selected{/if}>未审核</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">来源：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="source" value="{$info.source}" name="source" class="form-control" placeholder="请输入来源">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#validtime',type: 'datetime',trigger:'click'});
laydate.render({elem: '#createtime',type: 'datetime',trigger:'click'});
laydate.render({elem: '#updatetime',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		userid: {
			validators: {
				notEmpty: {
					message: '会员ID不能为空'
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('userid').set('mobile').set('apikey').set('secretkey').set('tradename').set('type').set('remark').set('validtime').set('createtime').set('updatetime').set('tradenameid').set('isvalid').set('source');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Apiuser/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
