{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">会员ID：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="member_id" value="{$info.member_id}" name="member_id" class="form-control" placeholder="请输入会员ID">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">会员手机：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入会员手机">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="momey" value="" name="momey" class="form-control" placeholder="请输入提现金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">手续费：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="charge" value="" name="charge" class="form-control" placeholder="请输入手续费">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">转账金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="transfer_money" value="" name="transfer_money" class="form-control" placeholder="请输入转账金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['status'])){ $info['status'] = ''; }; ?>
							<select lay-ignore name="status" class="form-control" id="status">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.status eq '1'"}selected{/if}>等待处理</option>
								<option value="2" {if condition="$info.status eq '2'"}selected{/if}>已处理</option>
								<option value="3" {if condition="$info.status eq '3'"}selected{/if}>处理失败</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">账号|交易地址：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="account" value="" name="account" class="form-control" placeholder="请输入账号|交易地址">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易IP：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="ip" value="{$info.ip}" name="ip" class="form-control" placeholder="请输入交易IP">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易说明：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="des" value="{$info.des}" name="des" class="form-control" placeholder="请输入交易说明">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">交易时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="dateline" value="{$info.dateline}" name="dateline" class="form-control" placeholder="请输入交易时间">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">更新时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="updateline" value="{$info.updateline}" name="updateline" class="form-control" placeholder="请输入更新时间">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">提现订单号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="trade_no" value="{$info.trade_no}" name="trade_no" class="form-control" placeholder="请输入提现订单号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">处理状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['dostatus'])){ $info['dostatus'] = '1'; }; ?>
							<select lay-ignore name="dostatus" class="form-control" id="dostatus">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.dostatus eq '1'"}selected{/if}>处理中</option>
								<option value="2" {if condition="$info.dostatus eq '2'"}selected{/if}>已完成</option>
								<option value="3" {if condition="$info.dostatus eq '3'"}selected{/if}>交易失败</option>
							</select>
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('withdrawal_id').set('member_id').set('mobile').set('momey').set('charge').set('transfer_money').set('status').set('account').set('ip').set('des').set('dateline').set('updateline').set('trade_no').set('dostatus');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Withdrawal/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
