{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='id' id='id' value="{$info.id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">安卓更新方式：</label>
						<div class="col-sm-9">
							<select lay-ignore name="androidmethod" class="form-control" id="androidmethod">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.androidmethod eq '1'"}selected{/if}>普通更新</option>
								<option value="2" {if condition="$info.androidmethod eq '2'"}selected{/if}>强制更新</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">安卓地址：</label>
						<div class="col-sm-6">
							<input type="text" autocomplete="off" id="androidlink" value="{$info.androidlink}" name="androidlink" class="form-control" placeholder="请输入安卓地址">
							<span class="help-block m-b-none androidlink_process"></span>
						</div>
						<div class="col-sm-3" style="position:relative; right:30px;">
							<span id="androidlink_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ios地址：</label>
						<div class="col-sm-6">
							<input type="text" autocomplete="off" id="ioslink" value="{$info.ioslink}" name="ioslink" class="form-control" placeholder="请输入ios地址">
							<span class="help-block m-b-none ioslink_process"></span>
						</div>
						<div class="col-sm-3" style="position:relative; right:30px;">
							<span id="ioslink_upload"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">安卓版本号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="androidversion" value="{$info.androidversion}" name="androidversion" class="form-control" placeholder="请输入安卓版本号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ios版本号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="iosversion" value="{$info.iosversion}" name="iosversion" class="form-control" placeholder="请输入ios版本号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ios更新方式：</label>
						<div class="col-sm-9">
							<select lay-ignore name="iosmethod" class="form-control" id="iosmethod">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.iosmethod eq '1'"}selected{/if}>普通更新</option>
								<option value="2" {if condition="$info.iosmethod eq '2'"}selected{/if}>强制更新</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">app状态：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="app_status" value="{$info.app_status}" name="app_status" class="form-control" placeholder="请输入app状态">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">客服微信：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="customer_wechat" value="{$info.customer_wechat}" name="customer_wechat" class="form-control" placeholder="请输入客服微信">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">客服QQ：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="kfqq" value="{$info.kfqq}" name="kfqq" class="form-control" placeholder="请输入客服QQ">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">渠道：</label>
						<div class="col-sm-9">
							<select lay-ignore name="channel" class="form-control" id="channel">
								<option value="">请选择</option>
								{sql query="select channel,nick from cd_agent"}
									<option value="{$sql.channel}" {if condition="$info.channel eq $sql.channel"}selected{/if}>{$sql.nick}</option>
								{/sql}
							</select>
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
uploader('androidlink_upload','androidlink','file',false,'','{:url("admin/Upload/uploadImages")}');
uploader('ioslink_upload','ioslink','file',false,'','{:url("admin/Upload/uploadImages")}');
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('androidmethod').set('androidlink').set('ioslink').set('androidversion').set('iosversion').set('iosmethod').set('app_status').set('customer_wechat').set('kfqq').set('channel');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Chatsetting/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
