{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员组名：</td> 
					<td>{$info.gname}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">图标：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.pic}')"><img height="75" src="{$info.pic}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">续费方式：</td> 
					<td><?php echo getFieldVal($info["payttype"],"正常|1|success,授权码|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员类型：</td> 
					<td><?php echo getFieldVal($info["utype"],"普通会员|1|success,代理会员|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">暂时未用：</td> 
					<td>{$info.dpoint}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">收益抽提成：</td> 
					<td>{$info.profitpoint}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员收费类型：</td> 
					<td><?php echo getFieldVal($info["vippaytype"],"包月VIP|1|success,收益VIP|2|warning,贵宾VIP|3|primary");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">兑换U手续费：</td> 
					<td>{$info.cucharge}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员组备注：</td> 
					<td>{$info.des}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">开放大神：</td> 
					<td>{$info.leaderlist}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">显示首页大神：</td> 
					<td>{$info.indexleaderlist}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">可欠额度：</td> 
					<td>{$info.billmoney}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">收费开关：</td> 
					<td><?php echo getFieldVal($info["isfree"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">账单方式：</td> 
					<td><?php echo getFieldVal($info["billtype"],"按天统计|1|success,按周统计|2|warning,按月统计|3|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">盈利统计方式：</td> 
					<td><?php echo getFieldVal($info["yltjtype"],"不盈利不收|1|success,亏本抵扣|2|warning");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
