{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="member_id" placeholder="会员ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">活动ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="actid" placeholder="活动ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">渠道标识</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="channel" placeholder="渠道标识" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">下级会员ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="domember_id" placeholder="下级会员ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">天数领取状态</button>
									</div>
									<select class="form-control" id="daystatus">
										<option value="">请选择</option>
										<option value="1">未领取</option>
										<option value="2">已领取</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">资金领取状态</button>
									</div>
									<select class="form-control" id="mstatus">
										<option value="">请选择</option>
										<option value="1">未领取</option>
										<option value="2">已领取</option>
									</select>
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
								<button type="button" class="btn" onclick="CodeGoods.reset()" id="">
									<i class="glyphicon glyphicon-share-alt"></i>&nbsp;重置
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '会员ID', field: 'member_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '活动ID', field: 'actid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '赚送天数', field: 'hyday', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '赚送账户额度', field: 'money', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '渠道标识', field: 'channel', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '下级会员ID', field: 'domember_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '日期', field: 'dateline', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.datelineFormatter},
 			{title: '说明', field: 'des', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '天数领取状态', field: 'daystatus', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.daystatusFormatter},
 			{title: '资金领取状态', field: 'mstatus', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.mstatusFormatter},
 		];
 	};

	CodeGoods.datelineFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.daystatusFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">未领取</span>';
				break;
				case '2':
					return '<span class="label label-warning">已领取</span>';
				break;
			}
		}
	}

	CodeGoods.mstatusFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">未领取</span>';
				break;
				case '2':
					return '<span class="label label-warning">已领取</span>';
				break;
			}
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['member_id'] = $("#member_id").val();
		queryData['actid'] = $("#actid").val();
		queryData['channel'] = $("#channel").val();
		queryData['domember_id'] = $("#domember_id").val();
		queryData['daystatus'] = $("#daystatus").val();
		queryData['mstatus'] = $("#mstatus").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	CodeGoods.reset = function() {
		$("#searchGroup input,select").val('');
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Activerecord/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
</script>
{/block}