{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">会员ID：</td> 
					<td>{$info.userid}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">操作类型：</td> 
					<td><?php echo getFieldVal($info["optype"],"用户操作|1|success,代理操作|2|warning,接口返回日志|3|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">操作地址：</td> 
					<td>{$info.opaction}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">用户IP：</td> 
					<td>{$info.ip}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">操作时间：</td> 
					<td>{if $info.dateline}{$info.dateline|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">操作说明：</td> 
					<td>{$info.opdes}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">返回说明：</td> 
					<td>{$info.content|html_out}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
