{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">同步分类ID：</td> 
					<td>{$info.tid}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">显示分类名：</td> 
					<td>{$info.stitle}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">同步分类名：</td> 
					<td>{$info.title}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">英文名：</td> 
					<td>{$info.entitle}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">排序：</td> 
					<td>{$info.learder_desc}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">图标：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.head_url}')"><img height="75" src="{$info.head_url}"></a></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
