{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="userid" placeholder="会员ID" />
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">日期范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="day">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">收益方式</button>
									</div>
									<select class="form-control" id="insttype">
										<option value="">请选择</option>
										<option value="ALL">所有</option>
										<option value="SWAP">合约</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">交易所</button>
									</div>
									<select class="form-control" id="tradename">
										<option value="">请选择</option>
										<option value="1">OKEX</option>
										<option value="0">币安</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">创建时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="createtime">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">渠道</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="channel" placeholder="渠道" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">上级ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="parentid" placeholder="上级ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">父二级</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="twoid" placeholder="父二级" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">上三级</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="threeid" placeholder="上三级" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">是否生成账单</button>
									</div>
									<select class="form-control" id="isbill">
										<option value="">请选择</option>
										<option value="1">未生成</option>
										<option value="2">已生成</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">所属月份/天/周</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="billmonth" placeholder="所属月份/天/周" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">账单方式</button>
									</div>
									<select class="form-control" id="billtype">
										<option value="">请选择</option>
										<option value="1">按天统计</option>
										<option value="2">按周统计</option>
										<option value="3">按月统计</option>
									</select>
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
								<button type="button" class="btn" onclick="CodeGoods.reset()" id="">
									<i class="glyphicon glyphicon-share-alt"></i>&nbsp;重置
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('admin/Incomeday/view',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-plus"></i>&nbsp;查看详情
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '会员ID', field: 'userid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '日期', field: 'day', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.dayFormatter},
 			{title: '金额', field: 'income', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '收益方式', field: 'insttype', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.insttypeFormatter},
 			{title: '交易所', field: 'tradename', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.tradenameFormatter},
 			{title: '创建时间', field: 'createtime', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.createtimeFormatter},
 			{title: '更新时间', field: 'updatetime', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.updatetimeFormatter},
 			{title: '统计次数', field: 'updatetimer', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '渠道', field: 'channel', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '上级ID', field: 'parentid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '父二级', field: 'twoid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '上三级', field: 'threeid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '是否生成账单', field: 'isbill', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.isbillFormatter},
 			{title: '所属月份/天/周', field: 'billmonth', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '账单方式', field: 'billtype', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.billtypeFormatter},
 			{title: '所属周', field: 'dayweek', visible: true, align: 'center', valign: 'middle',sortable: true},
 		];
 	};

	CodeGoods.dayFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.insttypeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case 'ALL':
					return '<span class="label label-success">所有</span>';
				break;
				case 'SWAP':
					return '<span class="label label-warning">合约</span>';
				break;
			}
		}
	}

	CodeGoods.tradenameFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">OKEX</span>';
				break;
				case '0':
					return '<span class="label label-warning">币安</span>';
				break;
			}
		}
	}

	CodeGoods.createtimeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.updatetimeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.isbillFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">未生成</span>';
				break;
				case '2':
					return '<span class="label label-warning">已生成</span>';
				break;
			}
		}
	}

	CodeGoods.billtypeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">按天统计</span>';
				break;
				case '2':
					return '<span class="label label-warning">按周统计</span>';
				break;
				case '3':
					return '<span class="label label-warning">按月统计</span>';
				break;
			}
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['userid'] = $("#userid").val();
		queryData['day_start'] = $("#day").val().split(" - ")[0];
		queryData['day_end'] = $("#day").val().split(" - ")[1];
		queryData['insttype'] = $("#insttype").val();
		queryData['tradename'] = $("#tradename").val();
		queryData['createtime_start'] = $("#createtime").val().split(" - ")[0];
		queryData['createtime_end'] = $("#createtime").val().split(" - ")[1];
		queryData['channel'] = $("#channel").val();
		queryData['parentid'] = $("#parentid").val();
		queryData['twoid'] = $("#twoid").val();
		queryData['threeid'] = $("#threeid").val();
		queryData['isbill'] = $("#isbill").val();
		queryData['billmonth'] = $("#billmonth").val();
		queryData['billtype'] = $("#billtype").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Incomeday/view?id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/Incomeday/view?id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	CodeGoods.reset = function() {
		$("#searchGroup input,select").val('');
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Incomeday/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#day',type: 'datetime',range:true});
	laydate.render({elem: '#createtime',type: 'datetime',range:true});
</script>
{/block}