{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">会员ID</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="userid" placeholder="会员ID" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作类型</button>
									</div>
									<select class="form-control" id="optype">
										<option value="">请选择</option>
										<option value="1">用户操作</option>
										<option value="2">代理操作</option>
										<option value="3">接口返回日志</option>
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作地址</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="opaction" placeholder="操作地址" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">用户IP</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="ip" placeholder="用户IP" />
								</div>
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="dateline">
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-2">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
								<button type="button" class="btn" onclick="CodeGoods.reset()" id="">
									<i class="glyphicon glyphicon-share-alt"></i>&nbsp;重置
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('admin/Apilog/delete',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="delete" class="btn btn-danger button-margin" onclick="CodeGoods.delete()">
						<i class="fa fa-trash"></i>&nbsp;删除
						</button>
						{/if}
						{if condition="in_array('admin/Apilog/view',session('admin.nodes')) || session('admin.role_id') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-eye"></i>&nbsp;查看详情
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '会员ID', field: 'userid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '操作类型', field: 'optype', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.optypeFormatter},
 			{title: '操作地址', field: 'opaction', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '用户IP', field: 'ip', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '操作时间', field: 'dateline', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.datelineFormatter},
 			{title: '操作说明', field: 'opdes', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.id){
			var str= '';
			{if condition="in_array('admin/Apilog/delete',session('admin.nodes')) || session('admin.role_id') eq 1"}
			str += '<button type="button" class="btn btn-danger btn-xs" title="删除"  onclick="CodeGoods.delete('+row.id+')"><i class="fa fa-trash"></i>&nbsp;删除</button>&nbsp;';
			{/if}
			return str;
		}
	}

	CodeGoods.optypeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">用户操作</span>';
				break;
				case '2':
					return '<span class="label label-warning">代理操作</span>';
				break;
				case '3':
					return '<span class="label label-warning">接口返回日志</span>';
				break;
			}
		}
	}

	CodeGoods.datelineFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['userid'] = $("#userid").val();
		queryData['optype'] = $("#optype").val();
		queryData['opaction'] = $("#opaction").val();
		queryData['ip'] = $("#ip").val();
		queryData['dateline_start'] = $("#dateline").val().split(" - ")[0];
		queryData['dateline_end'] = $("#dateline").val().split(" - ")[1];
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.delete = function (value) {
		if(value){
			Feng.confirm("是否删除选中项？", function () {
				var ajax = new $ax(Feng.ctxPath + "/Apilog/delete", function (data) {
					if ('00' === data.status) {
						Feng.success(data.msg);
						CodeGoods.table.refresh();
					} else {
						Feng.error(data.msg);
					}
				});
				ajax.set('id', value);
				ajax.start();
			});
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.id;
				});
				idx = idx.substr(1);
				Feng.confirm("是否删除选中项？", function () {
					var ajax = new $ax(Feng.ctxPath + "/Apilog/delete", function (data) {
						if ('00' === data.status) {
							Feng.success(data.msg,1000);
							CodeGoods.table.refresh();
						} else {
							Feng.error(data.msg,1000);
						}
					});
					ajax.set('id', idx);
					ajax.start();
				});
			}
		}
	}


	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看详情',area: ['800px', '550px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Apilog/view?id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '查看详情',area: ['800px', '550px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Apilog/view?id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	CodeGoods.reset = function() {
		$("#searchGroup input,select").val('');
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Apilog/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#dateline',type: 'datetime',range:true});
</script>
{/block}