{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">标题：</td> 
					<td>{$info.title}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">图片地址：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.pic}')"><img height="75" src="{$info.pic}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">跳转地址：</td> 
					<td>{$info.url}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">类型：</td> 
					<td><?php echo getFieldVal($info["type"],"外部链接|1|success,内部链接|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">排序：</td> 
					<td>{$info.paixu}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">开关：</td> 
					<td><?php echo getFieldVal($info["status"],"开启|1,关闭|0");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
