{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">充提方式：</td> 
					<td>{$info.payway_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">渠道：</td> 
					<td>{$info.channel}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">手续费：</td> 
					<td>{$info.charge}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">手续费方式：</td> 
					<td><?php echo getFieldVal($info["chargetype"],"每笔|1|success,提现额百分比|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">账号：</td> 
					<td>{$info.account}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">二维码图片：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.thumb}')"><img height="75" src="{$info.thumb}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">帮助说明：</td> 
					<td>{$info.smkey}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">说明配置：</td> 
					<td>{$info.des}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
