{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='message_id' id='message_id' value="{$info.message_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">消息类型：</label>
						<div class="col-sm-9">
							<select lay-ignore name="mtype" class="form-control" id="mtype">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.mtype eq '1'"}selected{/if}>系统</option>
								<option value="2" {if condition="$info.mtype eq '2'"}selected{/if}>其它</option>
								<option value="3" {if condition="$info.mtype eq '3'"}selected{/if}>提示小消息</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接收会员：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="member_id" value="{$info.member_id}" name="member_id" class="form-control" placeholder="请输入接收会员">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接收会员昵称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="nick" value="{$info.nick}" name="nick" class="form-control" placeholder="请输入接收会员昵称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<select lay-ignore name="status" class="form-control" id="status">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.status eq '1'"}selected{/if}>已读</option>
								<option value="0" {if condition="$info.status eq '0'"}selected{/if}>未读</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">消息内容：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="content" value="{$info.content}" name="content" class="form-control" placeholder="请输入消息内容">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">添加时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.dateline neq ''"}{$info.dateline|date='Y-m-d H:i:s'}{/if}" name="dateline"  placeholder="请输入添加时间" class="form-control" id="dateline">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#dateline',type: 'datetime',trigger:'click'});
laydate.render({elem: '#updateline',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('message_id').set('mtype').set('member_id').set('nick').set('status').set('content').set('dateline').set('updateline');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Mysg/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
