{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='mid' id='mid' value="{$info.mid}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">发起者uid/group_id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="ufrom" value="{$info.ufrom}" name="ufrom" class="form-control" placeholder="请输入发起者uid/group_id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接收者id，根据type不同，可能是用户uid，可能是群组id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="uto" value="{$info.uto}" name="uto" class="form-control" placeholder="请输入接收者id，根据type不同，可能是用户uid，可能是群组id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">内容：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="content" value="{$info.content}" name="content" class="form-control" placeholder="请输入内容">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">类型：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="type" value="{$info.type}" name="type" class="form-control" placeholder="请输入类型">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">只类型：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sub_type" value="{$info.sub_type}" name="sub_type" class="form-control" placeholder="请输入只类型">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">添加时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="timestamp" value="{$info.timestamp}" name="timestamp" class="form-control" placeholder="请输入添加时间">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">chatkey：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="chatkey" value="{$info.chatkey}" name="chatkey" class="form-control" placeholder="请输入chatkey">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">message_type：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="message_type" value="{$info.message_type}" name="message_type" class="form-control" placeholder="请输入message_type">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">options：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="options" value="{$info.options}" name="options" class="form-control" placeholder="请输入options">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">isread：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="isread" value="{$info.isread}" name="isread" class="form-control" placeholder="请输入isread">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">客服名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="fromname" value="{$info.fromname}" name="fromname" class="form-control" placeholder="请输入客服名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接受者名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="toname" value="{$info.toname}" name="toname" class="form-control" placeholder="请输入接受者名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">专属客服编号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="customerid" value="{$info.customerid}" name="customerid" class="form-control" placeholder="请输入专属客服编号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">接收者头像：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="toavatar" value="{$info.toavatar}" name="toavatar" class="form-control" placeholder="请输入接收者头像">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">发起者头像：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="formavatar" value="{$info.formavatar}" name="formavatar" class="form-control" placeholder="请输入发起者头像">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('mid').set('ufrom').set('uto').set('content').set('type').set('sub_type').set('timestamp').set('chatkey').set('message_type').set('options').set('isread').set('fromname').set('toname').set('customerid').set('toavatar').set('formavatar');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/MessageList/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
