{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">产品标题：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="ltitle" value="{$info.ltitle}" name="ltitle" class="form-control" placeholder="请输入产品标题">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">价格说明：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="pcont" value="{$info.pcont}" name="pcont" class="form-control" placeholder="请输入价格说明">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">购买价格：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="price" value="" name="price" class="form-control" placeholder="请输入购买价格">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">成交数量：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="buynumber" value="{$info.buynumber}" name="buynumber" class="form-control" placeholder="请输入成交数量">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">级别时长：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['otime'])){ $info['otime'] = '2'; }; ?>
							<select lay-ignore name="otime" class="form-control" id="otime">
								<option value="">请选择</option>
								<option value="1" {if condition="$info.otime eq '1'"}selected{/if}>日卡</option>
								<option value="2" {if condition="$info.otime eq '2'"}selected{/if}>周卡</option>
								<option value="3" {if condition="$info.otime eq '3'"}selected{/if}>月卡</option>
								<option value="4" {if condition="$info.otime eq '4'"}selected{/if}>季卡</option>
								<option value="5" {if condition="$info.otime eq '5'"}selected{/if}>半年卡</option>
								<option value="6" {if condition="$info.otime eq '6'"}selected{/if}>年卡</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sortid" value="{$info.sortid}" name="sortid" class="form-control" placeholder="请输入排序">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">开通购买：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['isbuy'])){ $info['isbuy'] = 1; }; ?>
							<input name="isbuy" value="1" type="radio" {if condition="$info.isbuy eq '1'"}checked{/if} title="开启">
							<input name="isbuy" value="0" type="radio" {if condition="$info.isbuy eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('levelset_id').set('ltitle').set('pcont').set('price').set('buynumber').set('otime').set('sortid');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var isbuy = $("input[name = 'isbuy']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Productset/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('isbuy',isbuy);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
